@page {
  size: 148mm 210mm;
  margin: 8mm;
  marks: crop;
}

@page:left {
  bleed: 4mm 0cm 4mm 4mm;
  @bottom-left {
    content: counter(page);
  }
}
@page:right {
  bleed: 4mm 4mm 4mm 0cm;
  @bottom-right {
    content: counter(page);
  }
}




#bitume2025 ~ p {
display: none;
}
#bitume2025 ~ h6 {
display: none;
}
#bitume2025 ~ h5 {
display: none;
}
#bitume2025 ~ h4 {
display: none;
}
#bitume2025 ~ h3 {
display: none;
}
#bitume2025 ~ h2 {
display: none;
}
h1#bitume2025 {
display: none;
}

#bitume2025 ~ .alert {
display: none;
}

h1#spectacles, h1#spectacles2, h1#spectacles3, h1#spectacles4, h1#spectacles5, h1#spectacles6, h1#spectacles7, h1#spectacles8, h1#spectacles9, h1#spectacles10, h1#spectacles11, h1#spectacles12, h1#spectacles13, h1#spectacles14, h1#spectacles15, h1#spectacles16, h1#spectacles17, h1#spectacles18, h1#spectacles19, h1#spectacles20 {
display: none;
padding: 0;
margin: 0;
border: 0;
}


/* -- CHANGEMENT DE PAGE ---------------------------- */
h1 {
  break-before: page;
}


/* -- TYPOGRAPHIE ----------------------------------- */


.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Off';
    src: url('font/OFF-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frat';
    src: url('font/Frat.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eau Sans Book';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Book'), url('font/eau_sans_book.woff') format('woff');
    }

@font-face {
    font-family: 'Eau Sans Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Book Oblique'), url('font/eau_sans_book_obl.woff') format('woff');
    }

@font-face {
    font-family: 'Eau Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Bold'), url('font/eau_sans_bold.woff') format('woff');
    }

@font-face {
    font-family: 'Eau Sans Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Eau Sans Bold Oblique'), url('font/eau_sans_bold_obl.woff') format'woff');
    }



body {
  font-size: 8.5pt;
  font-family: 'Eau Sans Book';
  line-height: 11.5pt;
}

em {
  font-family: 'Eau Sans Book Oblique';
}

strong {
  font-family: 'Eau Sans Bold';
}


h1 {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 10pt;
  line-height: 11.5pt;
  border-bottom: 1pt solid black;
  padding-top: 0 !important;
  padding-bottom: 5.75pt;
  margin-top: 0;
}

h2 {
    font-size: 70pt;
    line-height: 60pt;
    font-family: 'Frat';
    text-transform: uppercase;
    margin-bottom: 0 ;
    border-bottom: 1pt solid black;
}
h3 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 12pt;
    padding-top: 11pt;
    margin-top: 0;
    line-height: 11.5pt;
    border-top: 1pt black solid;
    padding-top: 5.75pt;
    margin-bottom: 0;
}

h4 {
    font-size: 25pt;
    line-height: 25pt;
    font-family: 'Frat';
    text-transform: uppercase;
    border-bottom: 1pt black solid;
    margin-bottom: 0;
    padding-bottom: 5.75pt;
}

h5 {
    font-size: 8.5pt;
    line-height: 11.5pt;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 11.5pt;
    font-family: 'Roboto Condensed';
}


h2 {
  margin-top: -16pt;
}

h3 + h4 {
  padding-top: 0 !important;
}

p {
  margin: 0;
}

/* -- COULEURS ----------------------------------- */

/* h1:nth-of-type(n)*/

@page :nth(2){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(3){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}
@page :nth(4){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(5){
  h1, h2, h3, strong {
  color: #895ea3;
  }
}

@page :nth(6){
  h1, h2, h3, strong {
  color: #2b679d;
  }
}

@page :nth(7){
  h1, h2, h3, strong {
  color: #dd6fa9;
  }
}

@page :nth(8){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(9){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(10){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}
@page :nth(11){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(12){
  h1, h2, h3, strong {
  color: #895ea3;
  }
}

@page :nth(13){
  h1, h2, h3, strong {
  color: #2b679d;
  }
}

@page :nth(14){
  h1, h2, h3, strong {
  color: #dd6fa9;
  }
}

@page :nth(15){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(16){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(17){
  h1, h2, h3, strong {
  color: #895ea3;
  }
}

@page :nth(18){
  h1, h2, h3, strong {
  color: #2b679d;
  }
}

@page :nth(19){
  h1, h2, h3, strong {
  color: #dd6fa9;
  }
}

@page :nth(20){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(21){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(22){
  h1, h2, h3, strong {
  color: #895ea3;
  }
}

@page :nth(23){
  h1, h2, h3, strong {
  color: #2b679d;
  }
}

@page :nth(24){
  h1, h2, h3, strong {
  color: #dd6fa9;
  }
}

@page :nth(25){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(26){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(27){
  h1, h2, h3, strong {
  color: #895ea3;
  }
}

@page :nth(28){
  h1, h2, h3, strong {
  color: #2b679d;
  }
}

@page :nth(29){
  h1, h2, h3, strong {
  color: #dd6fa9;
  }
}

@page :nth(30){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(31){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

@page :nth(32){
  h1, h2, h3, strong {
  color: #895ea3;
  }
}

@page :nth(33){
  h1, h2, h3, strong {
  color: #2b679d;
  }
}

@page :nth(34){
  h1, h2, h3, strong {
  color: #dd6fa9;
  }
}

@page :nth(35){
  h1, h2, h3, strong {
  color: #e46c34;
  }
}

@page :nth(36){
  h1, h2, h3, strong {
  color: #2596be;
  }
}

/* ------- PAGES.JS.css --------------*/

/* CSS for Paged.js interface – v0.4 */

/* Change the look */
:root {
  --color-background: whitesmoke;
  --color-pageSheet: #cfcfcf;
  --color-pageBox: violet;
  --color-paper: white;
  --color-marginBox: transparent;
  --pagedjs-crop-color: black;
  --pagedjs-crop-shadow: white;
  --pagedjs-crop-stroke: 1px;
}

/* To define how the book look on the screen: */
@media screen, pagedjs-ignore {
  body {
      background-color: var(--color-background);
  }

  .pagedjs_pages {
      display: flex;
      width: calc(var(--pagedjs-width-left) + var(--pagedjs-width-right));
      flex: 0;
      flex-wrap: wrap;
      margin: 0 auto;
  }

  .pagedjs_page {
      background-color: var(--color-paper);
      box-shadow: 0 0 0 1px var(--color-pageSheet);
      margin: 0;
      flex-shrink: 0;
      flex-grow: 0;
      margin-top: 10mm;
  }

  .pagedjs_first_page {
      margin-left: var(--pagedjs-width-left);
  }

  .pagedjs_page:last-of-type {
      margin-bottom: 10mm;
  }

  .pagedjs_pagebox{
      box-shadow: 0 0 0 1px var(--color-pageBox);
  }

  .pagedjs_left_page{
      z-index: 20;
      /* width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width))!important; */
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop {
      border-color: transparent;
  }
  
  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle{
      width: 0;
  } 

  .pagedjs_right_page{
      z-index: 10;
      position: relative;
      /* left: calc(var(--pagedjs-bleed-left) * -1); */
  }

  /* show the margin-box */

  .pagedjs_margin-top-left-corner-holder,
  .pagedjs_margin-top,
  .pagedjs_margin-top-left,
  .pagedjs_margin-top-center,
  .pagedjs_margin-top-right,
  .pagedjs_margin-top-right-corner-holder,
  .pagedjs_margin-bottom-left-corner-holder,
  .pagedjs_margin-bottom,
  .pagedjs_margin-bottom-left,
  .pagedjs_margin-bottom-center,
  .pagedjs_margin-bottom-right,
  .pagedjs_margin-bottom-right-corner-holder,
  .pagedjs_margin-right,
  .pagedjs_margin-right-top,
  .pagedjs_margin-right-middle,
  .pagedjs_margin-right-bottom,
  .pagedjs_margin-left,
  .pagedjs_margin-left-top,
  .pagedjs_margin-left-middle,
  .pagedjs_margin-left-bottom {
      /* box-shadow: 0 0 0 1px inset var(--color-marginBox); */
  }

  /* uncomment this part for recto/verso book : ------------------------------------ */

  /*   
  .pagedjs_pages {
      flex-direction: column;
      width: 100%;
  }

  .pagedjs_first_page {
      margin-left: 0;
  }

  .pagedjs_page {
      margin: 0 auto;
      margin-top: 10mm;
  } 

  .pagedjs_left_page{
      width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width) + var(--pagedjs-bleed-left))!important;
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop{
      border-color: var(--pagedjs-crop-color);
  }

  .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle{
      width: var(--pagedjs-cross-size)!important;
  } 

  .pagedjs_right_page{
      left: 0; 
  } 
  */
  
  

  /*--------------------------------------------------------------------------------------*/



  /* uncomment this par to see the baseline : -------------------------------------------*/

  
   /*.pagedjs_pagebox {
      --pagedjs-baseline: 11.5pt;
      --pagedjs-baseline-position: 8mm;
      --pagedjs-baseline-color: cyan;
      background: linear-gradient(transparent 0%, transparent calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
      background-size: 100% var(--pagedjs-baseline);
      background-repeat: repeat-y;
      background-position-y: var(--pagedjs-baseline-position);
  }  */
 

  /*--------------------------------------------------------------------------------------*/
}





/* Marks (to delete when merge in paged.js) */

.pagedjs_marks-crop{
  z-index: 999999999999;

}

.pagedjs_bleed-top .pagedjs_marks-crop, 
.pagedjs_bleed-bottom .pagedjs_marks-crop{
  box-shadow: 1px 0px 0px 0px var(--pagedjs-crop-shadow);
  box-shadow: none
}  

.pagedjs_bleed-top .pagedjs_marks-crop:last-child,
.pagedjs_bleed-bottom .pagedjs_marks-crop:last-child{
  box-shadow: -1px 0px 0px 0px var(--pagedjs-crop-shadow);
  box-shadow: none
}  

.pagedjs_bleed-left .pagedjs_marks-crop,
.pagedjs_bleed-right .pagedjs_marks-crop{
  box-shadow: 0px 1px 0px 0px var(--pagedjs-crop-shadow);
  box-shadow: none
}

.pagedjs_bleed-left .pagedjs_marks-crop:last-child,
.pagedjs_bleed-right .pagedjs_marks-crop:last-child{
  box-shadow: 0px -1px 0px 0px var(--pagedjs-crop-shadow);
  box-shadow: none
}
.pagedjs_marks-crop {
    box-shadow: none !important;
}

