#document {margin-left: 45mm;}

h1, h2, h3, h4, h5, #engoguetteboussires + p, #before + p:has(img) {
    margin-left: -45mm;
  }

h4 {
  margin-top: 0;
  padding-top: 0;
}

h5{
    margin-top: 0;
    float: left;
    width: 41mm;
    text-transform: uppercase;
  }


p {
    border-left: 1pt solid black;
    padding: 11.5pt 0 11.5pt 11.5pt;
    margin-top: 0;
    margin-bottom: 0;
}

#engoguetteboussires + p {
    border-left: 0;
    padding-left: 0;

}

#engoguetteboussires ~ p ~ img {
    border: 10px red solid;
}

h1#spectacles + h3, h4:first-child {
    border-top: 0 !important;
}

p img {
  width: 86.7mm;
  height: 38mm;
  object-fit: cover;
  image-resolution: 300dpi;  
}


p:has(img) {
  padding: 0;
}

p:last-child {
  padding-bottom: 0;
}

em {
  display: block;
  padding-top: 5.75pt;
  }

strong{ 
  display: block;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 9.5pt;
  padding-bottom: 5.75pt;
}

strong >> em {
  display: block !important;

}

#spectacles ~ h3 {
  margin-top: 0;
}