/* ---------- Couverture -------------- */

@page :first {
  img {display: none !important;}
  background-image: 
    url("https://md.picasoft.net/uploads/c71e8e41-4cf4-4d9b-96e8-8dd1b76f19e8.jpg");
  background-size: cover;
  background-position: center;
  @bottom-right { content: none }
}

@page :nth(32) {
  img:first-child {display: none !important;}
  background-image: 
    url("https://md.picasoft.net/uploads/d75e1481-6223-4634-a984-21183de6f686.jpg");
  background-size: cover;
  background-position: center;
  @bottom-left { content: none }
  h1 {display: none !important;}
  h4 {
    border-bottom: 0;
    font-size: 21.5pt;
    letter-spacing: 1.5pt;
    padding: 0;
    line-height: 21.5pt;
    text-align: right;
    color: #1a392b;
  }
}

/* -------- Typographies -------- */

p {
  padding-top: 11.5pt;
  padding-bottom: 11.5pt;
}

p + p {
  padding-top: 0;
  }

@page :nth(2) {
strong em {
  display: inline !important;
  font-family: 'Eau Sans Bold' !important;
    line-height: 11.5pt !important;
    font-size: 8.5pt !important;
    transform: rotate(0) !important;
  }
}

/*h1 ~ p {
  padding-top: 0;
}*/

/* --------- Tableau -------- */

table {
  font-family: 'Roboto Condensed';
}
tr {
  border-top: 1px solid #2d306d;
;
  vertical-align: top;
  font-size: 7.6pt;
  line-height: 10.8pt;
}
td {
  padding: 1px 0 1px 2pt;
}
td:nth-child(1)  {
  background-color: #fdf8e9;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-weight: 900;
  width: 12%;
}
td:nth-child(2) {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-weight: 900;
    color: #2596be;
    width: 28%;
}
td:nth-child(3) {
    font-family: 'Roboto Condensed';
    font-weight: 900;
    color: #bb6ba6;
    width: 22%;
}
td:nth-child(4) {
    width: 10%;
    color: #2d306d;
}
td:nth-child(5) {
    width: 17%;
    color: #2d306d;
}
td:nth-child(6) {
    font-family: 'Roboto Condensed';
    font-weight: 900;
    width: 5%;
    color: #375c54;
}
td.entete {
    background-color: white;
    font-family: Frat;
    text-transform: uppercase;
    font-size: 20.5pt;
    padding-bottom: 11.5pt;
    color: #895ea3;}

 
.merveilleuse td:nth-child(1)  {
  width: 12%;
}
.merveilleuse td:nth-child(2) {
  width: 50%;
}
.merveilleuse td:nth-child(3) {
    color: #2d306d;
    width: 10%;
}
.merveilleuse td:nth-child(4) {
    width: 17%;
    color: #2d306d;
}
.merveilleuse td:nth-child(5) {
    width: 8%;
    color: #2d306d;
}
.merveilleuse td:nth-child(5) {
    width: 5%;
    color: #2d306d;
  }



/* -------- Page à page ------------*/

/* IMAGES */

#placegranvellecurbattantdufestival ~ p:has(img), #placegranvellecurbattantdufestival-1 ~ p:has(img), #placegranvellecurbattantdufestival-2 ~ p:has(img), #placegranvellecurbattantdufestival-3 ~ p:has(img), #scnographie ~ p:has(img) {
  margin-left: -45mm;
  border-left: 0;
  height: 75mm;
}


#unfestivalthique ~ p img {
 object-fit: cover;
 width: 66mm;
 float: left;
  }

@page :nth(5) {
  p:nth-of-type(2) img {
    width: 16mm;
    height: 15mm;
    float: inline-start;
    margin-right: 3mm;
  }
}

@page :nth(26) {
  p:nth-of-type(2) img:nth-of-type(1), p:nth-of-type(2) img:nth-of-type(2) {
    width: 3.5mm;
    height: 3.5mm;
    float: none;
    margin-right: 1mm;
  }
}

@page :nth(26) {
  p:nth-of-type(2) {
    margin-bottom: -10mm;
  }
}

/* 2 images */
#placegranvellecurbattantdufestival ~ p img, #placegranvellecurbattantdufestival-1 ~ p img, #placegranvellecurbattantdufestival-2 ~ p img {
  width: 66mm;
  height: 75mm;
  float: left;
}
/* 1 image */
#placegranvellecurbattantdufestival-3 ~ p img, #scnographie ~ p img{
  width: 132mm;
  height: 75mm;
  float: left;
}


/* images en haut */

#unfestivalthique ~ p img, 
#placegranvellecurbattantdufestival ~ p img, 
#placegranvellecurbattantdufestival-2 ~ p img, 
#placegranvellecurbattantdufestival-3 ~ p img 
 {
  padding-bottom: 11.5pt !important;
}


/* images en bas */

#scnographie ~ p img, #placegranvellecurbattantdufestival-1 ~ p img, #placegranvellecurbattantdufestival-2 ~ p img  {
  margin-top: 11.5pt;
}

/* ---------- recadrage des photos ----------*/

#unfestivalthique ~ p img, #unfestivalthique ~ p:has(img) {
  object-position: 50% 70%;
  height: 50mm;
}


#placegranvellecurbattantdufestival ~ p img {
  object-position: 20% 0%;
}

#placegranvellecurbattantdufestival-1 ~ p img, #placegranvellecurbattantdufestival-1 ~ p:has(img) {
  height: 70mm;
  object-position: 50% 50%;
}

#placegranvellecurbattantdufestival-2 ~ p img {
  object-position: 100% 80%;
}

#placegranvellecurbattantdufestival-3 ~ p img, #placegranvellecurbattantdufestival-3 ~ p:has(img)  {
  object-position: 50% 24%;
}

#scnographie ~ p img, #scnographie ~ p:has(img) {
  height: 110mm;
  object-position: 51% 0%;
}

#informationspratiques ~ p:nth-child(2) img {
  width: 132mm;
  object-position: 51% 0%;
}

/* espaces entre les paragraphes */

#placegranvellecurbattantdufestival ~ p, #placegranvellecurbattantdufestival-1 ~ p, #placegranvellecurbattantdufestival-2 ~ p, #placegranvellecurbattantdufestival-3 ~ p, #scnographie ~ p, #unfestivalthique ~ p, #lassociation ~ p, #informationspratiques ~ p {
  padding-bottom: 0;
}

*p:last-child {
  padding-bottom: 11.5pt !important;
}


#placegranvellecurbattantdufestival ~ h5 strong, #placegranvellecurbattantdufestival-1 ~ h5 strong, #placegranvellecurbattantdufestival-2 ~ h5 strong, #placegranvellecurbattantdufestival-3 ~ h5 strong, #unfestivalthique ~ h5 strong {
  padding-bottom: 0 !important;
}

h4#engoguetteaboussieres {
  padding-top: 0 !important;
}

/* pages 3 colonnes*/

#mentionslgales ~ p {
  margin-left: -45mm;
  border-left: 0;
  column-count: 3;
  column-gap: 4mm;
  width: 132mm;
  font-size: 3.9pt;
  line-height: 5pt;
  padding-left: 0;
  padding-top: 5.75pt;  
  padding-bottom: 5.75pt;

}

/* Pages 2 colonnes */

#informationspratiques ~ p, #lassociation ~ p, #dito ~ p, #unfestivalthique ~ p, #scnographie ~ p, #placegranvellecurbattantdufestival ~ p, #placegranvellecurbattantdufestival-1 ~ p, #placegranvellecurbattantdufestival-2 ~ p{
  margin-left: -45mm;
  border-left: 0;
  column-count: 2;
  column-gap: 4mm;
  width: 132mm;
  padding-left: 0;
}


#tempsforts + p {
   column-count: 1 !important;
  width: 132mm !important;
  padding-bottom: 5.25pt;
}

@page :nth(3) {
  h4 {margin-bottom: 11.5pt}
  strong em {
    display: block !important;
    float: initial;
    text-transform: uppercase;
    font-size: 11pt !important;
    font-family: 'Roboto Condensed';
    font-family: 'Roboto Condensed';
    line-height: 11.5pt !important;
    transform: rotate(0deg) !important;
    font-style: normal;
    padding-top: 0;
  }
  p:nth-child(5) {
    padding-top: 0;
  }
}
@page :nth(4) {
  h4 {margin-bottom: 11.5pt}
  strong em {
    display: block !important;
    float: initial;
    text-transform: uppercase;
    font-size: 11pt !important;
    font-family: 'Roboto Condensed';
    font-family: 'Roboto Condensed';
    line-height: 11.5pt !important;
    transform: rotate(0deg) !important;
    font-style: normal;
    padding-top: 0;

  }
}
@page :nth(5) {
  h4 {margin-bottom: 11.5pt}
  strong em {
    display: block !important;
    float: initial;
    text-transform: uppercase;
    font-size: 11pt !important;
    font-family: 'Roboto Condensed';
    font-family: 'Roboto Condensed';
    line-height: 11.5pt !important;
    transform: rotate(0deg) !important;
    font-style: normal;
    padding-top: 0;
  }
}

#programmation ~ table, #programmation-1 ~ table, #programmation-2 ~ table,  #lebitumedesfamilles + p, #programmation-1 ~ p, #programmation-2 ~ p {
  margin-left: -45mm;
  border-left: 0;
  column-count: 1;
  width: 132mm;
  padding-left: 0;

}

#programmationbr ~ p {
  column-count: 2 !important;
  column-gap: 4mm;
  margin-left: -45mm;
  border-left: 0;
  padding-left: 0;

  }

@page :nth(32) {
  p {
  margin-left: -45mm;
  border-left: 0;
  column-count: 1;
  padding-left: 0;
  width: 132mm;
  }

}

#unfestivalthique ~ p:has(img), #unfestivalthique ~ p img, 
#placegranvellecurbattantdufestival ~ p:has(img), 
#placegranvellecurbattantdufestival ~ p img, 
#placegranvellecurbattantdufestival-1 ~ p:has(img),
#placegranvellecurbattantdufestival-1 ~ p img, 
#placegranvellecurbattantdufestival-2 ~ p:has(img),
#placegranvellecurbattantdufestival-2 ~ p img {
 column-count: 1;
 float: left;
}

@page :nth(5) {
p:nth-child(3) {
   column-count: 2 !important;
  float: none;
  padding-top: 11.5pt !important;
  }
}

#tempsforts + p {
  padding-bottom: 11.5pt !important;
}

@page :nth(26) {
  p:nth-of-type(1) img {
    object-position: 50% 25%;
    width: 132mm !important;
    height: 55mmm !important;
    float: none;
  }
}

@page :nth(26) {
  #lespointsdaccueil + p {
    height: 55mmm !important;
    margin-bottom: 11.5pt;
  }
}

